[
  {
    "url": "color",
    "color": "0xFF5AFFD6",
    "rootJson": {
      "color": "0xFF1DE9B6"
    }
  },
  {
    "url": "moterm",
    "color": "0xFF212121",
    "rootJson": null
  },
  {
    "url": "spinning_square_view",
    "color": "0xFF512DA8",
    "rootJson": null
  },
  {
    "url": "paint_view",
    "color": "0xFFAD1457",
    "rootJson": null
  }
]
